/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* wildcard Asterick to overide the default style added to the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style */
    color: #3a3a3a;
    font-family: lato sans-serif;
}


h1, h2, h3 {
    font-family: lota sans-serif; 
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525;
}

.hidden-heading {
    display: none;
}

/* The Header of the website */
header {
    background-color: #ffffff;
    padding-left: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    letter-spacing: 4px;
    list-style-type: none;
    font-size: 110%;
}
#menu > li {
    margin-bottom: 1em;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* create a navbar styles*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
/* nav toggle */
#nav-toggle:checked~nav {
    display: block;    
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-right: 5px;
}

/* The Main Body Content of the Website */
main {
    /* make main element take up any surplus space to push footer down */
    flex: 1 0 250px;
    margin-top: 2rem;
}

/* #hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../image/tripping-image.webp") no-repeat center center/cover;
    position: relative;
}

/* final rgba value sets for the opacity so it is transparent */
#cover-text {
    background-color: rgba(0, 0, 0, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
}

/* reason section */
#reasons {
    width: 90%;
    margin: auto;
}

/* h2 selector on the reason section */
#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

/* adding line heights to all divs on sections */
#benefits-physical > div, #benefits-mental > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}

#benefits hr {
    border: 1px solid #3a3a3a;
    margin: 5px 0;
}

/* circle cover image */

#circle-cover-bg {
    background: url("../image/circle-image.webp") no-repeat top center/cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* TO MAKE IMAGE IN CIRCLE FORMAT */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

/* TO MAKE THE IMAGE TO STAY IN THE MIDDLE OF THE MAGE */
#benefits-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* make the logo bigger */
#logo {
    font-size: 200%;
    line-height: 75px;
    margin: 0 0 3rem;
}

/* main content */
main {
    /* push the main content down to accommodate larger header */
    margin-top: 125px;
}


/* Footer of the website and taget and arrange the social-network ID from html*/
#social-network {
    padding: 20px o;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    list-style-type: none;
}

/* Meeet Up */
#times {
    background: url("../image/dublin-city.webp") no-repeat center/cover;
    /* Handle the divs without adding the media query */
    display: flex;
    flex-wrap: wrap;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    /* this will wrap on screens of less than 400px wide.
    each div will expand to fill the available space on its row */
    flex-basis: 200px;
    flex-grow: 1;
}

#times h3, #times h2 {
    /* overide the heading color set in general styles */
    color: #fafafa;
}

/* taget the i element from html */
#social-network i {
    padding: 5%;
    font-size: 160%;
    color: #3a3a3a;
}

/* media query for laptops and desktop are (992px and up ) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}

/* media query for Tablets and larger are (768px and up )*/
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
    #cover-text {
        width: 300px;
        right: 30px;
    }
}

/* FOR WIDER DESTOP SCREEN */
@media screen and (min-width: 1200px) {
/* REASON SECTION */
   #benefits {
    display: flex;
    flex-direction: row;
   }
   #benefits > div {
    flex: 1;
   }
   #benefits-image {
    order: 0;
   }
   #benefits-mental {
    order: 1;
   }
   #benefits-mental > div {
     align-self: flex-start;
   }
   #benefits-pyhsical > div {
    align-self: flex-end;
   }
}
