/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* wildcard Asterick to overide the default style added to the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style */
    color: #3a3a3a;
    font-family: lato sans-serif;
}

/* The Header of the website */
header {
    background-color: #ffffff;
    padding-left: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    letter-spacing: 4px;
    list-style-type: none;
    font-size: 110%;
}
#menu > li {
    margin-bottom: 1em;
}
.active {
    border-bottom: 1px solid #3a3a3a;
}

h1 {
    font-family: lota sans-serif; 
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525;
}
/* create a navbar styles*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
/* nav toggle */
#nav-toggle:checked~nav {
    display: block;    
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-right: 5px;
}

/* The Main Body Content of the Website */
main {
    background-color: thistle;
    /* make main element take up any surplus space to push footer down */
    flex: 1 0 250px;
    margin-top: 2rem;
}

/* make the logo bigger */
#logo {
    font-size: 200%;
    line-height: 75px;
    margin: 0 0 3rem;
}

/* main content */
main {
    /* push the main content down to accommodate larger header */
    margin-top: 125px;
}

/* Footer of the website */
footer {
    background-color: steelblue;
}

/* media query for laptops and desktop are (992px and up ) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}

/* media query for Tablets and larger are (768px and up )*/
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
}

